:root {
    --color-surface: #18181b;
    --color-raised: #27272a;
    --color-overlay: #3f3f46;
    --color-accent: #FDC700;
    --color-seccess: #4ade80;
    --color-warn:#fb923C;
    --color-error: #f87171;
    --color-text: #f4f4f5;
    --color-muted: #a1a1aa;
    --font-heading: "DM Serif Display", serif;
    --font-sans: DM Sans, sans-serif;
}

body { 
    font-family: var(--font-sans);
    margin: 0; 
    background: var(--color-surface); 
}

 /* Navegación (Fuente: 8, 9, 10) */
nav { 
    background: var(--color-raised); 
    color: var(--color-text); 
    padding: 1rem; 
    display: flex; gap: 20px; 
}

nav a { color: var(--color-text); 
    text-decoration: none; 
    font-weight: bold; 
}

.container { display: flex; 
    padding: 20px; 
    gap: 20px; 
}

/* Filtros (Fuente: 11, 12, 13, 14, 15) */
aside { 
    width: 250px; 
    min-width: 250px;
    background: var(--color-raised); 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: var(--color-text);
    box-sizing: border-box;
}

.filter-group { 
    margin-bottom: 15px; 
}

label { 
    display: block; 
    font-weight: bold; 
    margin-bottom: 5px; 
}

select, input { 
    width: 100%; 
    padding: 8px; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
    border-radius: 4px;
    border: 1px solid var(--raised);
    background-color: white;
}

input[type="range"] {
    padding: 0;
}

 /* Cuadrícula de Bancos (Fuente: 19-29) */
main { 
    flex-grow: 1; 
    display: grid; 
    grid-template-columns: 
    repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px; 
}

.card { 
    background: var(--color-raised); 
    border-radius: 8px; 
    overflow: hidden;
    text-align: center; 
    padding-bottom: 15px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

#fotos { 
    background: #ddd; 
    height: 150px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #666; 
}

.card h3 { 
    margin: 10px 0; 
    font-size: 1.1rem; 
    color: var(--color-text);
    font-family: var(--font-sans);
}
        
.masInfo { 
    background: var(--color-overlay); 
    color: var(--color-text); 
    font-family: var(--font-sans);
    border: none; 
    padding: 8px 15px; 
    border-radius: 20px; 
    cursor: pointer;
}